body {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}

h2 {
  font-size: 3.125rem;
  font-weight: 300;
  line-height: 1.1;
  text-transform: uppercase;
}

a {
  color: #ffffff;
}

a:hover {
  color: #58B4FD;
}

p {
  color: #727A83;
  line-height: 1.75;
}

.container_inner.container-fluid {
  max-width: 1140px;
}

/* top navigation section */
.navbar-nav .nav-link {
  padding: 0.2rem 1rem;
  font-family: "Lato", sans-serif;
}

@media (max-width: 1199px) {
  .navbar-nav .nav-link {
    padding: 0.7rem 2rem;
  }
}

/* top menu */
.top_menu {
  background-color: #243240;
}

.top_menu .navbar {
  padding: 0.3rem 1rem;
}

.top_menu .nav-item {
  padding: 0 0 0 2rem;
}

.top_menu .nav-item .nav-link {
  padding: 0;
  font-size: 0.875rem;
}

.top_menu .nav-item .nav-link:hover {
  color: #ffffff;
  text-decoration: underline;
}

.main_nav {
  background-color: transparent;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

@media (max-width: 1199px) {
  .main_nav {
    background-color: #243240;
  }
}

.main_nav .navbar {
  padding: 1.25rem 1rem;
}

@media (max-width: 1199px) {
  .main_nav .navbar {
    padding: 0;
  }
}

.main_nav.bkgr {
  background-color: rgba(36, 50, 64, 0.9);
}

.navbar-brand img {
  max-width: 290px;
}

@media (max-width: 1199px) {
  .navbar-brand img {
    max-width: 178px;
  }
}

/* main menu */
.main_menu {
  /* dropdown menu */
  /* .dropdown:hover {
  
    a {  
      &+.dropdown-menu {
        display: block;
      }
    }
  } */
}

@media (max-width: 1199px) {
  .main_menu {
    position: absolute;
    width: 100%;
    top: 40px;
    padding: 2rem 0;
    background-color: #365171;
  }
}

.main_menu .nav-item {
  padding: 0 0.5rem;
}

@media (max-width: 1199px) {
  .main_menu .nav-item {
    padding: 0;
  }
}

.main_menu .nav-item:last-child {
  padding-right: 0;
}

.main_menu .nav-item:last-child a:hover {
  color: #ffffff;
}

.main_menu .nav-item.active a {
  color: #58B4FD;
}

.main_menu .nav-item.dropdown img {
  display: none;
  float: right;
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
}

@media (max-width: 1199px) {
  .main_menu .nav-item.dropdown img {
    display: inline-block;
  }
}

.main_menu .dropdown-menu {
  margin-top: 0;
  padding: 1rem 0;
  border-radius: 0;
  border-color: #365171;
  background-color: #365171;
}

.main_menu .dropdown-menu .dropdown-item {
  position: relative;
  padding: 0.25rem 4.5rem 0.25rem 1.5rem;
  font-weight: 300;
  color: #ffffff;
  background: url("../img/arrow-right.png") right 1rem center no-repeat;
}

.main_menu .dropdown-menu .dropdown-item:hover {
  background-color: #26384e;
}

/* assessment button */
.btn-assessment {
  font-family: "Lato", sans-serif;
  padding: 0.5rem 1rem;
  background-color: #3291DD;
}

.btn-assessment:hover {
  text-decoration: underline;
}

@media (min-width: 1200px) {
  .navbar-expand-xl .navbar-nav .nav-link.btn-assessment {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .main_menu .dropdown:hover a + .dropdown-menu {
    display: block;
  }
}

/* mobile opener button */
.nav-opener {
  display: none;
  position: absolute;
  width: 17px;
  height: 16px;
  right: 1rem;
  border-radius: 0px;
  background: transparent;
}

.nav-opener:before, .nav-opener:after,
.nav-opener span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  border-radius: 0px;
  background: #ffffff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav-opener:before {
  content: '';
  top: 7px;
}

.nav-opener:after {
  content: '';
  top: 14px;
}

.nav-opener.nav-active {
  height: 28px;
}

.nav-opener.nav-active span {
  opacity: 0;
}

.nav-opener.nav-active:before {
  top: 12px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-opener.nav-active:after {
  top: 12px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@media (max-width: 1199px) {
  .nav-opener {
    display: block;
  }
}

/* page header section */
.header_page {
  min-height: 100vh;
  margin: 0 auto;
  padding-left: 3rem;
  padding-right: 3rem;
  /* @include media-breakpoint-down(lg) {
    padding-left: 0;
    padding-right: 0; 
  } */
}

@media (max-width: 767px) {
  .header_page {
    padding-left: 0;
    padding-right: 0;
  }
}

.header_page-inner {
  position: relative;
  height: 100%;
  min-height: 100vh;
  border-bottom-right-radius: 100px;
}

.header_page-inner:after {
  display: block;
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 100px;
}

.header_page-inner p {
  color: #ffffff;
}

/* homepage header */
.header_homepage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #133A59 url("../img/header-page-img.png") center/cover no-repeat;
}

.header_homepage:after {
  background-color: rgba(66, 95, 143, 0.52);
}

.header_homepage .header_homepage-wrapper {
  max-width: 654px;
  padding: 2.5rem 4.5rem;
  border-bottom-right-radius: 4rem;
  background-color: rgba(27, 57, 80, 0.97);
  z-index: 10;
}

@media (max-width: 767px) {
  .header_homepage .header_homepage-wrapper {
    padding: 2rem 1.5rem 2.5rem;
  }
}

.header_homepage .header_homepage-wrapper .homepage-pr p {
  float: left;
  margin: 0;
  text-transform: uppercase;
  font-size: 6.875rem;
  font-weight: 800;
  line-height: 1.1;
}

@media (max-width: 767px) {
  .header_homepage .header_homepage-wrapper .homepage-pr p {
    float: none;
    font-size: 6.1825rem;
    line-height: 0.8;
  }
}

.header_homepage .header_homepage-wrapper .homepage-content {
  padding-right: 1rem;
  text-align: right;
}

@media (max-width: 767px) {
  .header_homepage .header_homepage-wrapper .homepage-content {
    padding-right: 0;
    padding-left: 5px;
    text-align: left;
  }
}

.header_homepage .header_homepage-wrapper .homepage-content p {
  float: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}

.header_homepage .header_homepage-wrapper .homepage-content p:first-child {
  font-size: 1.875rem;
}

@media (max-width: 767px) {
  .header_homepage .header_homepage-wrapper .homepage-content p:first-child {
    font-size: 0.7875rem;
    line-height: 1.56;
  }
}

.header_homepage .header_homepage-wrapper .homepage-content p:last-child {
  font-size: 2.8125rem;
  line-height: 1.05;
}

@media (max-width: 767px) {
  .header_homepage .header_homepage-wrapper .homepage-content p:last-child {
    font-size: 1.1812rem;
  }
}

.header_homepage .header_homepage-wrapper .homepage-text p {
  margin-bottom: 3.5rem;
  line-height: 1.5625;
}

.header_homepage .header_homepage-wrapper .homepage-text .btn-assessment {
  display: inline-block;
  padding: 0.65rem 1.5rem;
  font-size: 1.2rem;
  line-height: 1.2;
}

.header_homepage .header_homepage-wrapper .homepage-text .btn-assessment:hover {
  color: #ffffff;
}

.homepage-arrow {
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: bottom 0.3s ease;
  transition: bottom 0.3s ease;
  padding: 0.5rem 0.5rem;
  border: 2px solid #FFFFFF;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 2rem;
  z-index: 20;
}

.homepage-arrow img {
  -webkit-transition: margin-top 0.3s ease;
  transition: margin-top 0.3s ease;
}

.homepage-arrow:hover img {
  margin-top: -6px;
}

.homepage-text-mobile {
  padding: 3rem 1rem 1rem;
}

.homepage-text-mobile p {
  margin-bottom: 2rem;
  font-size: 0.8rem;
  font-weight: 500;
}

.homepage-text-mobile .btn-assessment {
  padding: 0.625rem 1.2rem;
  display: inline-block;
  font-size: 1.1rem;
}

/* press companies section */
.press_companies {
  position: relative;
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

@media (max-width: 767px) {
  .press_companies {
    padding-bottom: 2rem;
  }
}

.press_companies:after {
  display: block;
  position: absolute;
  content: '';
  width: 50%;
  left: 25%;
  bottom: 3rem;
  border-bottom: 1px solid #D8D8D8;
}

@media (max-width: 767px) {
  .press_companies:after {
    width: auto;
    left: 15px;
    right: 15px;
  }
}

.press_companies h4 {
  font-size: 1.125rem;
  color: #3291DD;
}

.press_companies .img-fluid {
  max-width: 80%;
}

/* blue flamingo section */
.flamingo_section {
  overflow: hidden;
}

.flamingo_section h2 {
  color: #0B74C6;
  background: -webkit-linear-gradient(left, #68BBFC 0%, #0B74C6 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 767px) {
  .flamingo_section h2 {
    max-width: 200px;
    font-size: 1.875rem;
    line-height: 1.17;
  }
}

@media (max-width: 767px) {
  .flamingo_section p {
    max-width: 260px;
    margin-top: 260px;
    font-size: 0.75rem;
  }
}

.flamingo_section .flamingo_mobile {
  position: absolute;
  width: 415px;
  top: 60px;
  left: 2rem;
}
/*# sourceMappingURL=main.css.map */