body {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}

h2 {
  font-size: 3.125rem;
  font-weight: 300;
  line-height: 1.1;
  text-transform: uppercase;
}

a {
  color: #ffffff;
}

a:hover {
  color: #58B4FD;
}

p {
  color: #727A83;
  line-height: 1.75;
}

ol,
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container_inner.container-fluid {
  max-width: 1140px;
}

/* top navigation section */
.navbar-nav .nav-link {
  padding: 0.2rem 1rem;
  font-family: "Lato", sans-serif;
}

@media (max-width: 1199px) {
  .navbar-nav .nav-link {
    padding: 0.7rem 2rem;
  }
}

/* top menu */
.top_menu {
  background-color: #243240;
}

.top_menu .navbar {
  padding: 0.3rem 1rem;
}

.top_menu .nav-item {
  padding: 0 0 0 2rem;
}

.top_menu .nav-item .nav-link {
  padding: 0;
  font-size: 0.875rem;
}

.top_menu .nav-item .nav-link:hover {
  color: #ffffff;
  text-decoration: underline;
}

.main_nav {
  background-color: transparent;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

@media (max-width: 1199px) {
  .main_nav {
    background-color: #243240;
  }
}

.main_nav .navbar {
  padding: 1.25rem 1rem;
}

@media (max-width: 1199px) {
  .main_nav .navbar {
    padding: 0;
  }
}

.main_nav.bkgr {
  background-color: rgba(36, 50, 64, 0.9);
}

.navbar-brand img {
  max-width: 290px;
}

@media (max-width: 1199px) {
  .navbar-brand img {
    max-width: 178px;
  }
}

/* main menu */
.main_menu {
  /* dropdown menu */
}

@media (max-width: 1199px) {
  .main_menu {
    position: absolute;
    width: 95%;
    top: 40px;
    padding: 2rem 0;
    background-color: #365171;
    -webkit-transform: translateX(106%);
    transform: translateX(106%);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .main_menu.main_menu-active {
    -webkit-transform: translateX(6%);
    transform: translateX(6%);
  }
}

.main_menu .nav-item {
  padding: 0 0.5rem;
}

@media (max-width: 1199px) {
  .main_menu .nav-item {
    padding: 0;
  }
}

.main_menu .nav-item:last-child {
  padding-right: 0;
}

.main_menu .nav-item:last-child a:hover {
  color: #ffffff;
}

.main_menu .nav-item.active a {
  color: #58B4FD;
}

.main_menu .nav-item.dropdown img {
  display: none;
  float: right;
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
  -webkit-transition: transform 0.5s ease;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

@media (max-width: 1199px) {
  .main_menu .nav-item.dropdown img {
    display: inline-block;
  }
}

@media (max-width: 1199px) {
  .main_menu .nav-item.dropdown.dropdown-active {
    background-color: #517AAB;
  }
  .main_menu .nav-item.dropdown.dropdown-active img {
    -webkit-transform: rotate(180deg) translateY(-8px);
    transform: rotate(180deg) translateY(-8px);
  }
  .main_menu .nav-item.dropdown.dropdown-active .dropdown-menu {
    background-color: #517AAB;
  }
}

@media (max-width: 1199px) {
  .main_menu .nav-item .btn-assessment {
    display: inline-block;
    margin: 2.5rem 2rem;
    padding: 0.2rem 1rem;
  }
}

.main_menu .dropdown-menu {
  margin-top: 0;
  padding: 1rem 0;
  border-radius: 0;
  border-color: #365171;
  background-color: #365171;
}

@media (max-width: 1199px) {
  .main_menu .dropdown-menu {
    padding: 0.5rem 0;
    border: 0;
  }
}

.main_menu .dropdown-menu .dropdown-item {
  position: relative;
  padding: 0.25rem 4.5rem 0.25rem 1.5rem;
  font-weight: 300;
  color: #ffffff;
  background: url("../img/arrow-right.png") right 1rem center no-repeat;
}

.main_menu .dropdown-menu .dropdown-item:hover {
  background-color: #26384e;
}

@media (max-width: 1199px) {
  .main_menu .dropdown-menu .dropdown-item {
    padding-left: 2rem;
    font-size: 0.875rem;
    font-weight: 400;
    background-image: none;
  }
}

/* assessment button */
.btn-assessment {
  font-family: "Lato", sans-serif;
  padding: 0.5rem 1rem;
  background-color: #3291DD;
}

.btn-assessment:hover {
  text-decoration: underline;
}

@media (min-width: 1200px) {
  .navbar-expand-xl .navbar-nav .nav-link.btn-assessment {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .main_menu .dropdown:hover a + .dropdown-menu {
    display: block;
  }
}

/* mobile opener button */
.nav-opener {
  display: none;
  position: absolute;
  width: 17px;
  height: 16px;
  right: 1rem;
  top: 0.8rem;
  border-radius: 0px;
  background: transparent;
}

.nav-opener:before, .nav-opener:after,
.nav-opener span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  border-radius: 0px;
  background: #ffffff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav-opener:before {
  content: '';
  top: 7px;
}

.nav-opener:after {
  content: '';
  top: 14px;
}

.nav-opener.nav-active {
  height: 17px;
}

.nav-opener.nav-active span {
  opacity: 0;
}

.nav-opener.nav-active:before {
  top: 7px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-opener.nav-active:after {
  top: 7px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@media (max-width: 1199px) {
  .nav-opener {
    display: block;
  }
}

/* page header section */
.header_page {
  min-height: 100vh;
  margin: 0 auto;
  padding-left: 3rem;
  padding-right: 3rem;
  /* @include media-breakpoint-down(lg) {
    padding-left: 0;
    padding-right: 0; 
  } */
}

@media (max-width: 767px) {
  .header_page {
    padding-left: 0;
    padding-right: 0;
  }
}

.header_page-inner {
  position: relative;
  height: 100%;
  min-height: 100vh;
  border-bottom-right-radius: 100px;
}

.header_page-inner:after {
  display: block;
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 100px;
}

.header_page-inner p {
  color: #ffffff;
}

/* homepage header */
.header_homepage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #133A59 url("../img/header-page-img.png") center/cover no-repeat;
}

.header_homepage:after {
  background-color: rgba(66, 95, 143, 0.52);
}

.header_homepage .header_homepage-wrapper {
  max-width: 654px;
  padding: 2.5rem 4.5rem;
  border-bottom-right-radius: 4rem;
  background-color: rgba(27, 57, 80, 0.97);
  z-index: 10;
}

@media (max-width: 767px) {
  .header_homepage .header_homepage-wrapper {
    padding: 2rem 1.5rem 2.5rem;
  }
}

.header_homepage .header_homepage-wrapper .homepage-pr p {
  float: left;
  margin: 0;
  text-transform: uppercase;
  font-size: 6.875rem;
  font-weight: 800;
  line-height: 1.1;
}

@media (max-width: 767px) {
  .header_homepage .header_homepage-wrapper .homepage-pr p {
    float: none;
    font-size: 6.1825rem;
    line-height: 0.8;
  }
}

.header_homepage .header_homepage-wrapper .homepage-content {
  padding-right: 1rem;
  text-align: right;
}

@media (max-width: 767px) {
  .header_homepage .header_homepage-wrapper .homepage-content {
    padding-right: 0;
    padding-left: 5px;
    text-align: left;
  }
}

.header_homepage .header_homepage-wrapper .homepage-content p {
  float: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}

.header_homepage .header_homepage-wrapper .homepage-content p:first-child {
  font-size: 1.875rem;
}

@media (max-width: 767px) {
  .header_homepage .header_homepage-wrapper .homepage-content p:first-child {
    font-size: 0.7875rem;
    line-height: 1.56;
  }
}

.header_homepage .header_homepage-wrapper .homepage-content p:last-child {
  font-size: 2.8125rem;
  line-height: 1.05;
}

@media (max-width: 767px) {
  .header_homepage .header_homepage-wrapper .homepage-content p:last-child {
    font-size: 1.1812rem;
  }
}

.header_homepage .header_homepage-wrapper .homepage-text p {
  margin-bottom: 3.5rem;
  line-height: 1.5625;
}

.header_homepage .header_homepage-wrapper .homepage-text .btn-assessment {
  display: inline-block;
  padding: 0.65rem 1.5rem;
  font-size: 1.2rem;
  line-height: 1.2;
}

.header_homepage .header_homepage-wrapper .homepage-text .btn-assessment:hover {
  color: #ffffff;
}

.homepage-arrow {
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: bottom 0.3s ease;
  transition: bottom 0.3s ease;
  padding: 0.5rem 0.5rem;
  border: 2px solid #FFFFFF;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 2rem;
  z-index: 20;
}

.homepage-arrow img {
  -webkit-transition: margin-top 0.3s ease;
  transition: margin-top 0.3s ease;
}

.homepage-arrow:hover img {
  margin-top: -6px;
}

.homepage-text-mobile {
  padding: 3rem 1rem 1rem;
}

.homepage-text-mobile p {
  margin-bottom: 2rem;
  font-size: 0.8rem;
  font-weight: 500;
}

.homepage-text-mobile .btn-assessment {
  padding: 0.625rem 1.2rem;
  display: inline-block;
  font-size: 1.1rem;
}

/* site footer */
.main_footer {
  color: #ffffff;
  font-size: 0.75rem;
  font-weight: 500;
  background-color: #000000;
}

.main_footer p {
  margin-bottom: 0.5rem;
  color: #ffffff;
  font-weight: 400;
}

@media (max-width: 991px) {
  .main_footer {
    text-align: center;
  }
}

.main-widget h3 {
  position: relative;
  padding-bottom: 1rem;
  font-size: 0.75rem;
  text-transform: uppercase;
}

.main-widget h3:after {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
}

.main-widget h3 + ul {
  padding-top: 0.5rem;
  padding-bottom: 2rem;
}

.main-widget h3 + ul li {
  margin-bottom: 0.3rem;
}

.main-widget h3 + ul li a:before {
  font-family: "Font Awesome 5 Free";
  content: "\f30b";
  display: inline-block;
  padding-right: 6px;
  vertical-align: middle;
  font-weight: 900;
}

@media (max-width: 991px) {
  .main-widget h3 + ul li a:before {
    display: none;
  }
}

.main-widget .widget-three-fourth {
  padding-top: 0.5rem;
  padding-bottom: 2rem;
}

.main-widget .widget-three-fourth h4 {
  font-size: 0.75rem;
  font-weight: 600;
}

.main-widget .widget-three-fourth a {
  color: #23A1F5;
}

/* press companies section */
.press_companies {
  position: relative;
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

@media (max-width: 767px) {
  .press_companies {
    padding-bottom: 2rem;
  }
}

.press_companies:after {
  display: block;
  position: absolute;
  content: '';
  width: 50%;
  left: 25%;
  bottom: 3rem;
  border-bottom: 1px solid #D8D8D8;
}

@media (max-width: 767px) {
  .press_companies:after {
    width: auto;
    left: 15px;
    right: 15px;
  }
}

.press_companies h4 {
  font-size: 1.125rem;
  color: #3291DD;
}

.press_companies .img-fluid {
  max-width: 80%;
}

/* blue flamingo section */
.flamingo_section {
  overflow: hidden;
}

@media (max-width: 767px) {
  .flamingo_section {
    padding-bottom: 7.5rem;
  }
}

.flamingo_section h2 {
  color: #0B74C6;
  background: -webkit-linear-gradient(left, #68BBFC 0%, #0B74C6 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 767px) {
  .flamingo_section h2 {
    max-width: 200px;
    font-size: 1.875rem;
    line-height: 1.17;
  }
}

@media (max-width: 767px) {
  .flamingo_section p {
    max-width: 260px;
    margin-top: 260px;
    font-size: 0.75rem;
  }
}

.flamingo_section .flamingo_mobile {
  position: absolute;
  width: 415px;
  top: 60px;
  left: 2rem;
}

/* featured press section */
.featured_press-wrapper {
  background-color: #000000;
}

.featured_press-services {
  padding-top: 6.25rem;
  background: url("../img/featured_press_bg.jpg") center/cover no-repeat;
}

@media (max-width: 991px) {
  .featured_press-services {
    padding-top: 4.25rem;
    text-align: center;
  }
}

.featured_press-services h2 {
  margin-bottom: 2rem;
  padding-right: 8rem;
}

@media (max-width: 991px) {
  .featured_press-services h2 {
    padding-right: 0;
    font-size: 1.875rem;
  }
}

.featured_press-services p {
  padding-right: 3.5rem;
  color: #ffffff;
}

@media (max-width: 991px) {
  .featured_press-services p {
    padding-right: 0;
  }
}

@media (max-width: 767px) {
  .featured_press-services p {
    font-size: 0.75rem;
  }
}

.featured_press-services .btn-pr-services {
  position: relative;
  margin: 3rem 0 5rem;
  padding: 0.435rem 5.325rem 0.435rem 1.5rem;
  border-radius: 0;
  border-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #ffffff;
}

.featured_press-services .btn-pr-services img {
  position: absolute;
  top: 11px;
  right: 24px;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}

.featured_press-services .detailed-pr {
  text-transform: uppercase;
}

.featured_press-services .detailed-pr span {
  padding-left: 1rem;
  vertical-align: middle;
}

@media (max-width: 991px) {
  .featured_press-services .detailed-pr span {
    padding-left: 0;
  }
}

@media (max-width: 991px) {
  .featured_press-services .detailed-pr img {
    display: block;
    margin: 0 auto 1.5rem;
  }
}

/* featured press animations */
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  60% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  60% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
}

.featured_press-secondary {
  padding-bottom: 4rem;
}

.featured_press-secondary .secondary-services-header {
  position: relative;
  height: 25rem;
}

@media (max-width: 991px) {
  .featured_press-secondary .secondary-services-header {
    height: 14rem;
  }
}

.featured_press-secondary .secondary-services-header h3 {
  position: absolute;
  bottom: 1rem;
  margin-bottom: 0;
  font-size: 1.875rem;
  font-weight: 300;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.337579);
}

@media (max-width: 991px) {
  .featured_press-secondary .secondary-services-header h3 {
    bottom: 0.5rem;
  }
}

.featured_press-secondary .secondary-services-header.secondary-digital {
  background: url("../img/digital-marketing-service@2x.png") center no-repeat;
  background-size: 103%;
}

.featured_press-secondary .secondary-services-header.secondary-digital h3 {
  right: 18.5rem;
}

@media (max-width: 1199px) {
  .featured_press-secondary .secondary-services-header.secondary-digital h3 {
    right: auto;
  }
}

@media (max-width: 1600px) {
  .featured_press-secondary .secondary-services-header.secondary-digital {
    background-size: 108%;
  }
}

@media (max-width: 1199px) {
  .featured_press-secondary .secondary-services-header.secondary-digital {
    background-size: auto;
  }
}

@media (max-width: 991px) {
  .featured_press-secondary .secondary-services-header.secondary-digital {
    background-size: 126%;
  }
}

.featured_press-secondary .secondary-services-header.secondary-strategy {
  background: url("../img/strategy-service@2x.png") center no-repeat;
  background-size: 103%;
}

@media (max-width: 1600px) {
  .featured_press-secondary .secondary-services-header.secondary-strategy {
    background-size: 134%;
  }
}

@media (max-width: 1199px) {
  .featured_press-secondary .secondary-services-header.secondary-strategy {
    background-size: auto;
  }
}

@media (max-width: 991px) {
  .featured_press-secondary .secondary-services-header.secondary-strategy {
    background-size: 102%;
  }
}

.featured_press-secondary .secondary-services-header.secondary-events {
  background: url("../img/events-service@2x.png") center no-repeat;
  background-size: 103%;
}

@media (max-width: 1600px) {
  .featured_press-secondary .secondary-services-header.secondary-events {
    background-size: 132%;
  }
}

@media (max-width: 1199px) {
  .featured_press-secondary .secondary-services-header.secondary-events {
    background-size: auto;
  }
}

@media (max-width: 991px) {
  .featured_press-secondary .secondary-services-header.secondary-events {
    background-size: 102%;
  }
}

.featured_press-secondary .secondary-services .secondary-content ul {
  position: relative;
}

@media (max-width: 991px) {
  .featured_press-secondary .secondary-services .secondary-content ul {
    text-align: center;
  }
}

.featured_press-secondary .secondary-services .secondary-content ul:before {
  display: block;
  position: absolute;
  content: '';
  height: 100%;
  width: 1px;
  top: 0;
  left: -16px;
  background-color: #4D4D4D;
}

@media (max-width: 991px) {
  .featured_press-secondary .secondary-services .secondary-content ul:before {
    display: none;
  }
}

.featured_press-secondary .secondary-services .secondary-content ul li {
  font-weight: 300;
  line-height: 2.5;
}

@media (max-width: 767px) {
  .featured_press-secondary .secondary-services .secondary-content ul li {
    font-size: 0.75rem;
  }
}

.featured_press-secondary .secondary-services .secondary-content.secondary-content-digital {
  max-width: 570px;
}

@media (max-width: 1199px) {
  .featured_press-secondary .secondary-services .secondary-content.secondary-content-digital {
    max-width: none;
  }
}

.featured_press-secondary .secondary-services .secondary-content.secondary-content-digital ul:before {
  display: none;
}

@media (max-width: 991px) {
  .featured_press-secondary .secondary-services .secondary-content.secondary-content-digital ul {
    text-align: left;
  }
}

@media (max-width: 991px) {
  .featured_press-secondary .secondary-content-btn {
    text-align: center;
  }
}

.featured_press-secondary .secondary-content-btn .btn-services-details {
  padding: 0.435rem 2.5rem 0.435rem;
  border-radius: 0;
  border-color: #ffffff;
  border-left-color: transparent;
  border-right-color: transparent;
  font-weight: 300;
  color: #ffffff;
}

.featured_press-secondary .secondary-content-btn .btn-services-details:hover {
  border-color: #bfbfbf;
  color: #bfbfbf;
  border-left-color: transparent;
  border-right-color: transparent;
}

/* practice areas section */
.practice_section {
  padding-top: 7.5rem;
  padding-bottom: 4rem;
  background: url("../img/practice_areas_bg.jpg") center/cover no-repeat;
}

@media (max-width: 991px) {
  .practice_section {
    padding-top: 4rem;
  }
}

.practice_section h2 {
  margin-bottom: 4rem;
}

@media (max-width: 991px) {
  .practice_section h2 {
    margin-bottom: 2rem;
  }
}

@media (max-width: 991px) {
  .practice_section h2 {
    font-size: 1.875rem;
  }
}

.practice_section h4 {
  font-size: 1.25rem;
}

@media (max-width: 575px) {
  .practice_section h4 {
    font-size: 0.75rem;
  }
}

@media (max-width: 575px) {
  .practice_section img {
    max-width: 50px;
  }
}

.practice_section .practice-card {
  height: 14rem;
  border-radius: 9px;
  background-color: rgba(36, 50, 64, 0.85);
}

@media (max-width: 575px) {
  .practice_section .practice-card {
    height: 10rem;
  }
}
/*# sourceMappingURL=main.css.map */