/* top navigation section */
.navbar-nav {
  .nav-link {
    padding: 0.2rem 1rem;
    font-family: $nav-font;

    @include respond-to('extralarge') {
      padding: 0.7rem 2rem;
    }
  }
}

/* top menu */
.top_menu {
  background-color: #243240;

  .navbar {
    padding: 0.3rem 1rem;
  }

  .nav-item {
    padding: 0 0 0 2rem;

    .nav-link {
      padding: 0;
      font-size: 0.875rem;

      &:hover {
        color: #ffffff;
        text-decoration: underline;
      }
    }
  }
}

.main_nav {
  background-color: transparent;
  @include transition(background-color, 0.3s);

  @include respond-to('extralarge') {
    background-color: #243240;
  }

  .navbar {
    padding: 1.25rem 1rem;

    @include respond-to('extralarge') {
      padding: 0;
    }
  }

  &.bkgr {
    background-color: rgba(#243240, 0.9);
  }
}

.navbar-brand {
  img {
    max-width: 290px;

    @include respond-to('extralarge') {
      max-width: 178px;
    }
  }
}

/* main menu */
.main_menu {
  @include respond-to('extralarge') {
    position: absolute;
    width: 95%;
    top: 40px;
    padding: 2rem 0;
    background-color: #365171;
    @include transform(translateX(106%));
    @include transition(all, 0.5s);

    &.main_menu-active {
      @include transform(translateX(6%));
    }
  }

  .nav-item {
    padding: 0 0.5rem;

    @include respond-to('extralarge') {
      padding: 0;
    }

    &:last-child {
      padding-right: 0;

      a {
        &:hover {
          color: #ffffff;
        }
      }
    }

    &.active {
      a {
        color: #58B4FD;
      }
    }

    &.dropdown {
      img {
        display: none;
        float: right;
        @include transform(translateY(8px));
        @include transition(transform, 0.5s);

        @include respond-to('extralarge') {
          display: inline-block;
        }
      }

      &.dropdown-active {
        @include respond-to('extralarge') {
          background-color: #517AAB;

          img {
            @include transform(rotate(180deg) translateY(-8px));
          }
  
          .dropdown-menu {
            background-color: #517AAB;
          }
        }
      }
    }

    .btn-assessment {
      @include respond-to('extralarge') {
        display: inline-block;
        margin: 2.5rem 2rem;
        padding: 0.2rem 1rem;
      }
    }
  }

  /* dropdown menu */
  .dropdown-menu {
    margin-top: 0;
    padding: 1rem 0;
    border-radius: 0;
    border-color: #365171;
    background-color: #365171;

    @include respond-to('extralarge') {
      padding: 0.5rem 0;
      border: 0;
    }

    .dropdown-item {
      position: relative;
      padding: 0.25rem 4.5rem 0.25rem 1.5rem;
      font-weight: 300;
      color: #ffffff;
      background: url('../img/arrow-right.png') right 1rem center no-repeat;
      
      &:hover {
        background-color: darken(#365171, 10%);
      }

      @include respond-to('extralarge') {
        padding-left: 2rem;
        font-size: 0.875rem;
        font-weight: 400;
        background-image: none;
      }
    }
  }
}

/* assessment button */
.btn-assessment {
  font-family: $nav-font;
  padding: 0.5rem 1rem;
  background-color: #3291DD;

  &:hover {
    text-decoration: underline;
  }
}

@media (min-width: 1200px) {
  .navbar-expand-xl {
    .navbar-nav {
      .nav-link {
        &.btn-assessment {
          padding-right: 1rem;
          padding-left: 1rem;
        }
      } 
    }
  }
  .main_menu {
    .dropdown:hover {
  
      a {  
        &+.dropdown-menu {
          display: block;
          // @include transition(all, 0.3s);
        }
      }
    }
  }
}

/* mobile opener button */
.nav-opener {
  display: none;
  position: absolute;
  width: 17px;
  height: 16px;
  right: 1rem;
  top: 0.8rem;
  border-radius: 0px;
  background: transparent;

  &:before,
  &:after,
  span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    border-radius: 0px;
    background: $theme-color;
    @include transition(all, 0.3s);
  }

  &:before {
    content: '';
    top: 7px;
  }

  &:after {
    content: '';
    top: 14px;
  }

  &.nav-active {
    height: 17px;

    span {
      opacity: 0;
    }
    &:before {
      top: 7px;
      @include transform(rotate(45deg));
    }
    &:after {
      top: 7px;
      @include transform(rotate(-45deg));
    }
  }

  @include respond-to('extralarge') {
    display: block;
  }

}

