// used fonts
$theme-font: 'Montserrat', sans-serif;
$nav-font: 'Lato', sans-serif;

// colors
$theme-color: #ffffff;
$hover-color: #58B4FD;

// containers
$container-content: 1200px;
$container-headerPage: 1440px;
