// breakpoints
$breakpoints: (
  'small': (max-width: 575px),
  'medium': (max-width: 767px),
  'large': (max-width: 991px),
  'extralarge': (max-width: 1199px),
  'extracustom': (max-width: 1600px)
) !default;

// used fonts
$theme-font: 'Montserrat', sans-serif;
$nav-font: 'Lato', sans-serif;

// colors
$theme-color: #ffffff;
$hover-color: #58B4FD;

// containers
$container-content: 1140px;
// $container-headerPage: 1440px;
